<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8">
	<% include ../partials/console_styles %>
	<title>ADMIN</title>
</head>
<body>
	
	<% include partials/side_nav %>
	
	<div id="global-message"></div>
	
	<div class="main" ng-view>

	</div>

	<% include ../partials/console_scripts %>
	<script>
		angular.module('PreloadedData', []).constant('User', '<%= user %>');
	</script>
</body>
</html>