<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include ../partials/console_styles %>
	<title>Series</title>
</head>
<body>
	
	<% include partials/header %>
	<% include partials/side_nav %>

	<div class="main">
	
		display all series names <br>
		give option to edit each series <br>
		display link to navigate to show_episodes for clicked series

	</div>

	<% include ../partials/console_scripts %>
</body>
</html>