<script src="/vendor/jquery/dist/jquery.min.js"></script>

<% if (page === 'faq') { %>
	<script src="/vendor/velocity/velocity.min.js"></script>
	<script src="/javascripts/faq.js"></script>
<% } %>

<% if (page === 'index') { %>
	<script src="/javascripts/index.js"></script>
<% } %>

<% if (page === 'admin') { %>
	<script src="/vendor/angular/angular.js"></script>
	<script src="/vendor/angular-route/angular-route.js"></script>
	<script src="/vendor/angular-resource/angular-resource.js"></script>
	<script src="/vendor/velocity/velocity.min.js"></script>
	<script src="/angular/admin_index.js"></script>
	<script src="/angular/admin_controllers.js"></script>
	<script src="/angular/admin_resources.js"></script>
	<script src="/javascripts/add_content.js"></script>
<% } %>

<% if (page === 'team') { %>
	<script src="/javascripts/team.js"></script>
<% } %>

<% if (page === 'series') { %>
	<script src="/vendor/velocity/velocity.min.js"></script>
	<script src="/javascripts/series.js"></script>
<% } %>


<!-- universal js -->
<script>
	$(function() {

		/**
		 * Anything with .unclickable is preventedDefault
		 */
		$('.unclickable').click(function(e) {
			e.preventDefault();
		});

		/**
		 * AJAX call for series dropdown-menu in navbar
		 */
		$.ajax({
			type: "GET",
			url: "/api/nav/series",
			
			success: function(allSeries) {
				// create a li > a for each item
				allSeries.forEach(function(series) {
					var listLink = 
						$('<li> <a href="/series/'+ series.series_id + '">' + series.name + '</a> </li>');

					$('.series.dropdown-menu').append(listLink);
				});
			},

			error: function() {
				console.log('Something went wrong!');
			}
		});
	});
</script>