<header>
	<div class="hero">
		<img src="/images/banner.jpg" alt="On Our Last Life">
	</div>
	<nav>
		<ul class='navbar'>
			<li><a href="/">HOME</a></li>
			<li class='dropdown'>
				<a href="/series">SERIES</a>
				<ul class='series dropdown-menu'>
					<!-- each one should hold the ref id to db query -->
					<!-- <li><a href="/series/re1" data-series-id="">Video Games</a></li> -->
					<!-- <li><a href="/series/re5" data-series-id="">Board</a></li> -->
				</ul>
			</li>
			<li class='dropdown'>
				<a href="#" class="unclickable">INFO</a>
				<ul class='dropdown-menu'>
					<li><a href="/faq">Frequently Asked Questions</a></li>
					<li><a href="/team">Team</a></li>
				</ul>
			</li>
			<!-- add video for admins -->
			<li><a href="/admin/content/new">ADD CONTENT</a></li>
		</ul>
	</nav>
</header>