<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include partials/console_styles %>
	<title>FAQ</title>
</head>
<body>
	
	<% include partials/header %>

	<div class="main">
		
		<div class="index">
			
			<h1 class="header-label">
				Frequently asked questions
			</h1>
		
			<ol class="question-list">
				<li><a href="#">Who are you?</a></li>
				<li><a href="#">What do you do?</a></li>
				<li><a href="#">How often do you release episodes?</a></li>
				<li><a href="#">Can I make a game request?</a></li>
				<li><a href="#">Can you do walkthroughs?</a></li>
				<li><a href="#">What difficulties do you usually play on?</a></li>
			</ol>

		</div>

		<div class="faq">
			<ul>
				<li>
					<div class="question">
						Who are you?
					</div>
					<div class="answer">
						We are a group of friends who enjoy game of all kinds. Video games, Magic the Gathering, D&D, and other stuff.
					</div>
				</li>

				<li>
					<div class="question">
						What do you do?
					</div>
					<div class="answer">
						We pick a game from our collection and record Let's Plays (LPs) on our free time. Most of these involve video games but we might do other things in the future.
					</div>
				</li>

				<li>
					<div class="question">
						How often do you release episodes?
					</div>
					<div class="answer">
						We try to release 3 per week since this is a hobby for us at the moment. If we become very popular, we will most likely be releasing on a daily basis.
					</div>
				</li>
				
				<li>
					<div class="question">
						Can I make a request?
					</div>
					<div class="answer">
						Sure. However, depending on our time constraints and amount of requests, we cannot guarantee that we will be able to do it because editing is very time consuming and our tech team is very small. In general, we will focus on games we really want to do ourselves, then requests that are higher in demand.
					</div>
				</li>

				<li>
					<div class="question">
						Can you do walkthroughs?
					</div>
					<div class="answer">
						Maybe. Read the above answer.
					</div>
				</li>

				<li>
					<div class="question">
						What difficulty level do you usually play on?
					</div>
					<div class="answer">
						In general, we enjoy playing on the hard difficulties because we like a challange. If we're really feeling up to it and love a certain game, We might even do a LP on the hardest difficulty such as Big Boss mode on MGS4 with no kills and alerts for that sexy Big Boss emblem.
					</div>
				</li>


			</ul>
		</div>

		<div id="to-top-button">
			<div class='mdi mdi-arrow-up'></div>
		</div>

	</div>
	
	<% include partials/console_scripts %>
</body>
</html>