<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include partials/console_styles %>
	<title>On Our Last Life</title>
</head>
<body>
	<% include partials/header %>

	<div class="main">
		
		<div class="news">
			<h1 class="header-label">
				News
			</h1>
		</div>
		
		<div class="latest-video">
			<%- last_uploaded.embed %>
		</div>

	</div>
	

	<% include partials/console_scripts %>
</body>
</html>