<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include partials/console_styles %>
	<title>On Our Last Life</title>
</head>
<body>
	<% include partials/header %>

	<div class="main">
		<div ng-view></div>
	</div>

	

	<% include partials/console_scripts %>
</body>
</html>