<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include partials/console_styles %>
	<title>Ep: <%= episode.ep_num %></title>
</head>
<body>
	
	<% include partials/header %>

	<div class="main">
		
		<%= JSON.stringify(episode) %>

	</div>


	<% include partials/console_scripts %>
</body>
</html>