<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include partials/console_styles %>
	<title>Team</title>
</head>
<body>
	
	<% include partials/header %>

	<div class="main">
		
		<div class="team-members">
			<div class="member">
				<img src="" alt="" class="avatar">
				<span class="alias">GorEjaKz</span>
				<div class="gamer-alias">
					<span class="psn-alias mdi mdi-playstation">GorEjaKz</span>
					<span class="xbox-alias mdi mdi-xbox">None</span>
				</div>
			</div>

			<div class="member">
				<img src="" alt="" class="avatar">
				<span class="alias">EviLRaLpH1</span>
				<div class="gamer-alias">
					<span class="psn-alias mdi mdi-playstation">EvilRaLpH1</span>
					<span class="xbox-alias mdi mdi-xbox">None</span>
				</div>
			</div>

			<div class="member">
				<img src="" alt="" class="avatar">
				<span class="alias">Cobalt87</span>
				<div class="gamer-alias">
					<span class="psn-alias mdi mdi-playstation">Cobalt87</span>
					<span class="xbox-alias mdi mdi-xbox">None</span>
				</div>
			</div>

			<div class="member">
				<img src="" alt="" class="avatar">
				<span class="alias"></span>
				<div class="gamer-alias">
					<!-- <span class="psn-alias mdi mdi-playstation"></span> -->
					<!-- <span class="xbox-alias mdi mdi-xbox"></span> -->
				</div>
			</div>
		</div>



	</div>


	<% include partials/console_scripts %>
</body>
</html>