<div id="episodes-view">

<div>{{episodes}}</div>
	<div class="view-header">
		<h1>Episodes List</h1>
		<h2>{{episodes[0].name}}</h2>
	</div>

	<div class="episodes-controls">
		<div class="episodes-wrapper">
			<div class="episode" ng-repeat="e in episodes">
				<div class="episode-title">{{e.title}}</div>
				<div class="episode-index">Ep #: {{e.ep_index}}</div>
				
				<div class="actions">
					<button class='edit-button' ng-click="fillForm($index)">Edit</button>
					<button class='delete-button' ng-click="delete($index)">Delete</button>
				</div>
			</div>
		</div>

		<div class="edit-menu">
			<h3 class="center">Edit Menu:</h3>
			
			<input type="text" id="ep-index" placeholder="Episode Index" value="{{epIndex}}" ng-model="epIndex">
			
			<input type="text" id="ep-num" placeholder="Episode #" value="{{epNum}}" ng-model="epNum">
			
			<label for="ep-title">Episode Title:</label>
			<input type="text" id="ep-title" placeholder="Episode Name" value="{{epTitle}}" ng-model="epTitle">
			
			<label for="ep-description">Description:</label>
			<textarea id="ep-description" rows="10" placeholder="Series Description" ng-model="epDescription">{{epDescription}}</textarea>
			
			<input type="text" id="ep-href" placeholder="Direct Link to Video" value="{{epHref}}" ng-model="epHref">

			<input type="text" id="ep-embed" placeholder="Embeded Link for video" value="{{epEmbed}}" ng-model="epEmbed">

			<button class="update-button" ng-click="update()">Update</button>
		</div>
	</div>

</div>