* { 
	margin: 0;
	padding: 0;
}

/**
 
 * General
 
 */

.main {
	width: 100%;
}

.view-header {
	text-align: center;
	margin-bottom: 32px;
}

.error {
	box-shadow: 0 0 4px 2px red !important;
}

.instructions {
	text-align: center;
	margin-top: 24px;
}
/**
 
 * Card
 
 */

.card {
	width: 400px;
	margin: 24px auto 32px;
	background-color: #CCCCCC;
  padding: 12px;
  padding-bottom: 46px;
	box-sizing: border-box;
	position: relative;
	box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
}

.card > * > * {
	display: block;
	margin: 16px 0px;
}

.card textarea,
.card select,
.card input {
	width: 100%;
}

.card > label {
	font-weight: 700;
	font-size: 24px;
}

.card button {
  position: absolute;
  right: 7px;
  bottom: 0;
}

.warning {
	color: red;
	font-size: 16px;
}

.warning ul {
	padding-left: 16px;
}

/**
 
 * SERIES VIEW
 
 */

.series-controls,
.episodes-controls {
	display: flex;
}

.series-wrapper,
.edit-menu,
.episodes-wrapper {
	width: 50%;
	margin: 0px 12px;
	padding: 0px 12px;
	box-sizing: border-box;
	background-color: #CCCCCC;
	box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
}

.series {
	overflow: auto;
	margin: 18px 0;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.name,
.edit-button {
	float: left;
}

.ep-count,
.delete-button {
	float: right;
}

.actions {
	clear: both;
	overflow: auto;
	padding: 12px 0;
}

.delete-button {
	background-color: #FF0000;
	color: white;
}

.edit-menu {
	/*position: fixed;*/
	align-self: flex-start;
}

.edit-menu > * {
	display: block;
	width: 100%;
}

.edit-menu > label {
	margin: 24px 0px 8px;
}

.update-button {
	margin: 12px 0px;
	background-color: #;
}

/*textarea {
	width: 100%;
}*/