/**
 * GENERAL ACROSS ALL PAGES
 */

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	min-height: 100%;
}

body {
	background-color: rgba(240,240,240,0.1);
	font-family: Helvetica, sans-serif;
}

/*
For headers such as a page label
 */
h1 {
	text-align: center;
	font-size: 48px;
	font-weight: 500;
}

/*
For sub-text for h1
 */
h2 {
	font-size: 32px;
	font-weight: 400;
}

/*
For video details
 */
h3 {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

/*
For subtle sub-text 
 */
h5 {
	font-size: 16px;
  color: rgba(0,0,0,0.7);
  font-weight: 500;
}

input,
textarea,
select,
button {
	font-size: 18px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

select {
	background-color: white;
}

button {
	padding: 5px;
}

.center {
	text-align: center;
}

a:link,
a:active,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.main {
	width: 80%;
	font-size: 18px;
	margin: 32px auto 64px;
}

.clickable {
	cursor: pointer;
}

.unclickable {
	/*cursor: default;*/
}

#global-message {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	background-color: yellow;
	padding: 4px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#to-top-button {
	position: fixed;
	right: 32px;
	bottom: 32px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 24px;
	width: 32px;
	height:32px;
	display: table;
	cursor: pointer;
}

#to-top-button .mdi-arrow-up {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.capitalize {
	text-transform: capitalize;
}

.card {
	/*width: 400px;*/
	margin: 24px auto 32px;
	background-color: #CCCCCC;
  padding: 12px;
  padding-bottom: 46px;
	box-sizing: border-box;
	position: relative;
	box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
}