.member {
	padding: 18px 0px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.social-links > * {
	margin: 0px 12px;
}

.mdi-playstation:before {
	background-color: rgba(0, 55, 145, 1);
  color: white;
  margin-right: 12px;
}

.mdi-xbox:before {
	color: rgba(93, 194, 30, 1);
	margin-right: 12px;
}