<div class="side-nav">
	<ul>
		<li><a href="#/">Home</a></li>
		<li><a href="#addcontent">Add New Content</a></li>
		<li><a href="#series">Edit Series -> Episodes</a></li>
		<li><a href="#addarticle">Add Article</a></li>
		<li><a href="#articles">Edit Articles</a></li>
		<li><a href="/">Public Site</a></li>
	</ul>
</div>